
<h2>Members Area</h2>
<ul>
    <li>@Html.ActionLink("Airplanes", "Index", "Airplanes")</li>
    @if (User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink("Add Member", "Register", "Account")</li>
        <li>@Html.ActionLink("Enter Flight Logs", "Index", "Hobbs")</li>
        <li>@Html.ActionLink("Generate Monthly Reports", "Reports", "Hobbs")</li>
        <li>@Html.ActionLink("View Flight Logs", "Index", "FlightLogs")</li>
        <li>@Html.ActionLink("Manage Instructor List", "Index", "Instructors")</li>
        <li>@Html.ActionLink("Email Membership", "Index", "Email")</li>
        <li>@Html.ActionLink("Email Individual Members", "Index", "EmailIndividual")</li>
        <li>@Html.ActionLink("Retired Members", "Index", "Account", new { retired = true }, null)</li>
    }
    <li>@Html.ActionLink("Airplane ADs", "Index", "AirworthinessDirectives")</li>
    <li>@Html.ActionLink("Member List", "Index", "Account")</li>
    <li>@Html.ActionLink("Request a Copilot", "Create", "Copilots")</li>
    <li>@Html.ActionLink("Club Library", "Library")</li>
</ul>
