@model LFC.ViewModels.EmailViewModel

@using (Html.BeginForm("Send", "Email"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Email Membership</h4>
        <hr />
        <p class="text-danger">
            @ViewBag.Message
        </p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @for (var i = 0; i < Model.Recipients.Count(); i++)
        {
        <div class="form-group">
            @if (i == 0)
            {
                @Html.LabelFor(model => model.Recipients, htmlAttributes: new { @class = "control-label col-md-2" })
            }
            else
            {
                <span class="col-md-2"></span>    
            }
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Recipients[i], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Recipients[i], "", new { @class = "text-danger" })
            </div>
        </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add More" name="action:AddMore" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", rows = "10" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" name="action:Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}