@model IEnumerable<LFC.Models.AirworthinessDirective>

<h2>Airworthiness Directives</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Airplane.AirplaneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirworthinessDirectiveID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastDoneHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDoneDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var row_class = "";
    var span_class = "";
    var div_attrs = "";
    if (item.IsOverdue())
    {
        row_class = "alert alert-danger";
        span_class = "glyphicon glyphicon-exclamation-sign";
        div_attrs = "data-toggle=tooltip data-placement=top data-html=true title=Overdue";
    }
    <tr class="@row_class">
        <td>
            <div @div_attrs>
            <span class="@span_class"></span>
            @Html.DisplayFor(modelItem => item.Airplane.AirplaneID)
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirworthinessDirectiveID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDoneHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDoneDate)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.KeyNum })
            @if (User.IsInRole("Admin"))
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id = item.KeyNum }) @:|
                @Html.ActionLink("Delete", "Delete", new { id=item.KeyNum })
            }
        </td>
    </tr>
}

</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}