@model IEnumerable<LFC.Models.FuelReceipt>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Airplane.AirplaneID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pilot.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dollars)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Airplane.AirplaneID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pilot.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gallons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dollars)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FuelReceiptID }) |
                @Html.ActionLink("Details", "Details", new { id=item.FuelReceiptID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FuelReceiptID })
            </td>
        </tr>
    }
    
    </table>