@model IEnumerable<LFC.Models.FlightLog>

<h2>Flight Logs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Airplane.AirplaneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pilot.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Billed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Airplane.AirplaneID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pilot.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Billed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FlightLogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FlightLogID })
        </td>
    </tr>
}

</table>
