@model LFC.Models.Copilot

    <div>
        <h4>Copilot</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Pilot.FullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pilot.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AirplaneID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AirplaneID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstrumentRequired)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstrumentRequired)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CopilotID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>