@model LFC.ViewModels.ContactViewModel

<h2>Contact Us</h2>
<p>
    You can reach the club by email at <a href="mailto:info@lexingtonflyingclub.org">info@lexingtonflyingclub.org</a>.  The club can also be reached at the postal address at
    the bottom of this page.
</p>

<h3>Officers</h3>
<table class="table">
    @foreach (var officer in Model.Officers)
    {
    <tr>
        <td>@Html.DisplayFor(x => officer.Officer)</td>
        <td>@Html.ActionLink(officer.FullName, "Details", "Account", new { id = officer.UserName }, null)</td>
        <td><a href="mailto:@officer.Email">@officer.Email</a></td>
    </tr>
    }
    @foreach (var plane in Model.Planes)
    {
        if (plane.MaintenanceOfficer == null || !plane.Active)
        {
            continue;
        }
        <tr>
            <td>Maintenance Officer for @plane.AirplaneID</td>
            <td>@Html.ActionLink(plane.MaintenanceOfficer.FullName, "Details", "Account", new { id = plane.MaintenanceOfficer.UserName }, null)</td>
            <td><a href="mailto:@plane.MaintenanceOfficer.Email">@plane.MaintenanceOfficer.Email</a></td>
        </tr>
    }
</table>