@model LFC.ViewModels.ContactViewModel

<h2>Contact Us</h2>
<p>
    You can reach the club by email at <a href="mailto:info@lexingtonflyingclub.org">info@lexingtonflyingclub.org</a>,
    or by using this form.  The club can also be reached at the postal address at
    the bottom of this page.
</p>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" id="name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="replyAddr">Reply Email Address</label>
        <div class="controls">
            <input type="text" id="replyAddr">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="subject">Subject</label>
        <div class="controls">
            <input type="text" id="subject">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="message">Message</label>
        <div class="controls">
            <textarea class="span5" rows="5" id="message"></textarea>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>
<h3>Officers</h3>
<table class="table">
    @foreach (var officer in Model.Officers)
    {
    <tr>
        <td>@Html.DisplayFor(x => officer.Officer)</td>
        <td>@Html.ActionLink(officer.FullName, "Details", "Account", new { id = officer.UserName }, null)</td>
        <td><a href="mailto:@officer.Email">@officer.Email</a></td>
    </tr>
    }
    @foreach (var plane in Model.Planes)
    {
        if (plane.MaintenanceOfficer == null)
        {
            continue;
        }
        <tr>
            <td>Maintenance Officer for @plane.AirplaneID</td>
            <td>@Html.ActionLink(plane.MaintenanceOfficer.FullName, "Details", "Account", new { id = plane.MaintenanceOfficer.UserName }, null)</td>
            <td><a href="mailto:@plane.MaintenanceOfficer.Email">@plane.MaintenanceOfficer.Email</a></td>
        </tr>
    }
</table>