@model LFC.Models.Airplane
@using System.ComponentModel.DataAnnotations;

@{
    ViewBag.Title = "Details";
}

<h2>Details @Model.AirplaneID</h2>

<div>
    <h4>Airplane</h4>
    <hr />
    @Html.Partial("MaintenanceActions")
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstalledEquipment)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <td>Type</td>
                    <td>Description</td>
                </tr>
                @foreach (var item in Model.InstalledEquipment)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Description)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceOfficer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintenanceOfficer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineSerial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineSerial)
        </dd>

        <dt>
            Engine Total Time
        </dt>

        <dd>
            @{
                var engine_tt = Model.getCurrentTach() + Model.TachAdd - Model.EngineOverhaul;
            }
            @engine_tt
        </dd>

        <dt>
            Airframe Total Time
        </dt>

        <dd>
            @{
                var time = Model.getCurrentTach() + Model.TachAdd;
            }
            @time
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruiseSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CruiseSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruiseAlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CruiseAlt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangeAlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangeAlt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmptyWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmptyWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsableFuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsableFuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OilSump)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OilSump)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TachAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TachAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineOverhaul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineOverhaul)
        </dd>

        <dt>
            Current Tach
        </dt>

        <dd>
            @Model.getCurrentTach()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HundredHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HundredHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OilChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OilChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EltDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EltDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EltBatteryDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EltBatteryDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransponderDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransponderDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaticDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaticDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPSExpires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPSExpires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
@if (Model.ADs.Count > 0) {
<div class="dl-horizontal">
    <h3>Airworthiness Directives</h3>
    @foreach (var item in Model.ADs) {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(modelItem => item.AirworthinessDirectiveID)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.AirworthinessDirectiveID)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.Description)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.FrequencyHours)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.FrequencyHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.FrequencyMonths)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.FrequencyMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.FrequencyMisc)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.FrequencyMisc)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.LastDoneHours)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.LastDoneHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.LastDoneDate)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.LastDoneDate)
        </dd>

    </dl>
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit AD", "Edit", "AirworthinessDirectives", new { id = item.KeyNum }, null)  
        }
    }
</div>
}
<p style="padding-top: 2em;">
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit Airplane", "Edit", new { id = Model.AirplaneID }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
