@model IEnumerable<LFC.Models.Airplane>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@{
    if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
}

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.AirplaneID }) |
            @{
                if (User.IsInRole("Admin"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.AirplaneID }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.AirplaneID })
                }
            }
        </td>
    </tr>
}

</table>
