@model IEnumerable<LFC.Models.Airplane>

@{
    ViewBag.Title = "Index";
}

<h2>Club Airplanes</h2>

<p>
@{
    if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
}

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirplaneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th class="visible-lg visible-md">
            @Html.DisplayNameFor(model => model.AnnualDue)
        </th>
        <th class="hidden-xs">
            Current Tach
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.OilChange)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.HundredHour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
@if (item.MaintenanceActions.Count > 0 || LFC.Models.Airplane.PastDueADs(item.ADs.Where(x => x.Voluntary == false).ToList()).Count > 0)
{
    var maintenance_actions = "";
    foreach (var action in item.MaintenanceActions)
    {
        maintenance_actions += action + "<br/>";
    }
    foreach (var ad in LFC.Models.Airplane.PastDueADs(item.ADs))
    {
        maintenance_actions += "AD " + ad.AirworthinessDirectiveID + " is due<br/>";
    }
    <td class="alert alert-danger">
        <div data-toggle="tooltip" data-placement="top" data-html="true" title="@maintenance_actions">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            @Html.ActionLink(item.AirplaneID, "Details", new { id = item.AirplaneID })
        </div>
    </td>
}
else
{
    <td>
        @Html.DisplayFor(modelItem => item.AirplaneID)
    </td>
}
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td class="visible-lg visible-md">
            @Html.DisplayFor(modelItem => item.AnnualDue)
        </td>
        <td class="hidden-xs">
            @item.getCurrentTach()
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.OilChange)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.HundredHour)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.AirplaneID })
            @{
                if (User.IsInRole("Admin"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.AirplaneID }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.AirplaneID })
                }
            }
        </td>
    </tr>
}

</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}