@model IEnumerable<LFC.Models.Airplane>

@{
    ViewBag.Title = "Index";
}

<h2>Club Airplanes</h2>

<p>
@{
    if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
}

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirplaneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
@if (item.MaintenanceActions.Count > 0 || LFC.Models.Airplane.PastDueADs(item.ADs, item.getCurrentTach()).Count > 0)
{
    <td class="alert alert-danger">
        <div data-toggle="tooltip" data-placement="top" title="Maintenance actions due">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            @Html.ActionLink(item.AirplaneID, "Details", new { id = item.AirplaneID })
        </div>
    </td>
}
else
{
    <td>
        @Html.DisplayFor(modelItem => item.AirplaneID)
    </td>
}
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.AirplaneID })
            @{
                if (User.IsInRole("Admin"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.AirplaneID }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.AirplaneID })
                }
            }
        </td>
    </tr>
}

</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}