@model IEnumerable<LFC.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Instructors</h2>

<p>
    @{
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    }
</p>
<p>
    The following are instructors who have expressed an interest in instructing for

    the Lexington Flying Club.  This is not an endorsement for any CFI by the

    Lexington Flying Club.  When you decide to use a flight instructor, the CFI must

    receive prior approval from the LFC before instructing in the club airplanes. 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFII)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiamondApproved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFII)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiamondApproved)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.InstructorID })
@{              
            if (User.IsInRole("Admin"))
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id=item.InstructorID }) @:|
                @Html.ActionLink("Delete", "Delete", new { id=item.InstructorID })
            }
}
        </td>
    </tr>
}

</table>

@{
    if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Retired Instructors", "Index", "Instructors", new { retired = true }, null)
    }
}
