@model LFC.Models.EditUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>View member details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        @if (Model.Officer != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Officer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Officer)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.HomeTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instrument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafetyPilot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyPilot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadgeExpires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeExpires)
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserName }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
