@model PagedList.IPagedList<LFC.Models.EditUserViewModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Members List</h2>

@if (User.IsInRole("Admin")) {
    <dl class="dl-horizontal">
    <dt>Restricted members</dt>
    <dd>@ViewBag.RestrictedMembers</dd>
    
    <dt>Associate members</dt>
    <dd>@ViewBag.AssociateMembers</dd>

    <dt>Special members</dt>
    <dd>@ViewBag.SpecialMembers</dd>

    <dt>Full members</dt>
    <dd>@ViewBag.FullMembers</dd>

    <dt>Inactive members</dt>
    <dd>@ViewBag.InactiveMembers</dd>

    <dt>Waitlist members</dt>
    <dd>@ViewBag.WaitlistMembers</dd>

    </dl>
}

@if (Model.PageCount > 1)
{
    @Html.ActionLink("View All Members", "Index", new { page = -1 })
    <br />
    @:Page
    if (Model.PageCount < Model.PageNumber)
    {
        @:0
    }
    else
    {
        @Model.PageNumber
    }
    @:of
    @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, retired = ViewBag.RetiredOnly }))
}

<table class="table">
    <tr>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model[0].UserName)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model[0].ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].FirstName)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model[0].MiddleInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].LastName)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model[0].Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.MiddleInitial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.UserName })
            @{
                if (User.IsInRole("Admin")) {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id=item.UserName }); @:|
                    @Html.ActionLink("Permissions", "UserRoles", new { id = item.UserName }); @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserName });
                }
            }
        </td>
    </tr>
}

</table>
<br />
@Html.ActionLink("Export CSV", "CSV")<br/>
@if (Model.PageCount > 1)
{
    @Html.ActionLink("View All Members", "Index", new { page = -1, retired = ViewBag.RetiredOnly })
    <br/>
    @:Page
    if (Model.PageCount < Model.PageNumber)
    {
        @:0
    }
    else
    {
        @Model.PageNumber
    }
    @:of
    @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, retired = ViewBag.RetiredOnly }))
}