@model PagedList.IPagedList<LFC.Models.EditUserViewModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Members List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].MiddleInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleInitial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.UserName })
            @{
                if (User.IsInRole("Admin")) {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id=item.UserName }); @:|
                    @Html.ActionLink("Permissions", "UserRoles", new { id = item.UserName }); @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserName });
                }
            }
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))